
.navbar {
    position: absolute;
    top: 55px;
    left: 0;
    width: 230px;
    background: #0973b9;
    height: calc(100vh - 55px);
}


.navbar__list {
    list-style: none;
}

// menu item
.navbar__item {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #016087;
    border-top: 1px solid #038ac1;
}

// menu link
.navbar__link {
    height: 100%;
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding-left: 12px;
}

.navbar__link:hover {
    background-color: #eb7728;
}


.navbar__item-icon {
    display: block;
    background-repeat: no-repeat;
    background-image: url('assets/images/iconMenu.png');
    width: 24px;
    height: 24px;
    margin-right: 12px;
}


.navbar__item-icon--dashboard {
    background-position: 0 0;
}


.navbar__item-icon--report {
    background-position: 0 -192px;
}


.navbar__item-icon--discount {
    background-position: 0 -117px;
}


.navbar__item-icon--dictionary {
    background-position: 0 -156px;
}


.navbar__item-icon--setting {
    background-position: 0 -232px;
}


.navbar__item-icon--application {
    background-image: url('assets/images/ic_menu_list_connect_application.svg');
}


.navbar__item-icon--order-online {
    background-image: url('assets/images/ic_Web.svg');
}


.navbar__item-icon--5food {
    background-image: url('assets/images/5food.png');
}


.navbar__item-icon--help {
    background-image: url('assets/images/iconHelp.png');
}


.navbar__item-icon--subscriber {
    background-image: url('assets/images/icon-subscriber.png');
}


.panel__dictionary {
    position: absolute;
    top: -127px;
    left: 100%;
    height: 100vh;
    width: 500px;
    background-color: #fff;
    z-index: 999;
    display: none;
}

#navbar__dictionary.active {
    background-color: #49a2e7;
}


#navbar__dictionary.show-panel .panel__dictionary {
    display: block;
}

// hàng
.panel__dictionary-row {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    color: #0072bb;
    font-weight: 600;
    text-transform: uppercase;
}


.panel__dictionary-header {
    padding-left: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}


.panel__dictionary-menu-header {
    background-image: url('assets/images/menu/InventoryItem.png');
}


.panel__dictionary-material-header {
    background-image: url('assets/images/menu/InventoryItemMaterial.png');
}


.panel__dictionary-item {
    list-style: none;
    margin-left: 32px;
    position: relative;
}


.panel__dictionary-content .panel__dictionary-item:last-child .line-1 {
    height: 50%;
}


.line {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #fff;
    left: -32px;
}


.line-1 {
    position: absolute;
    width: 1px;
    height: 100%;
    left: 50%;
    background-color: #dadada;
}


.line-2 {
    position: absolute;
    width: 50%;
    height: 1px;
    left: 50%;
    top: 50%;
    background-color: #dadada;
}


